[submodule "pages/tianxiaogu"]
	path = pages/tianxiaogu
	url = git@git.artemisprojects.org:tianxiaogu/moon-tianxiaogu.git
[submodule "pages/shengweian"]
	path = pages/shengweian
	url = git@git.artemisprojects.org:njuaplusplus/moon-shengweian.git
