{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">People
            </h2>
            <hr>
        </div>
        <div class="col-md-6">
            <img class="img-responsive img-border-left" src="{{ url_for('static', filename='img/all_members.jpg') }}" alt="">
        </div>
        <div class="col-md-6">
            <p>软件所现任教职员工13名。所长徐家福教授，副所长马晓星教授。</p>
            <p>在读博士生若干名。</p>
            <p>在读硕士生若干名。</p>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">Faculty
            </h2>
            <hr>
        </div>
        <div class="col-sm-4 text-left">
            <h3 align="left">Jiafu Xu</h3>
        </div>
        <div class="col-sm-4 text-left">
            <h3 align="left">Jian Lu</h3>
        </div>
        <div class="col-sm-4 text-left">
            <a href="people/xiaoxingma/"><h3 align="left">Xiaoxing Ma</h3></a>
        </div>
        <div class="col-sm-4 text-left">
            <h3 align="left">Xianping Tao</h3>
        </div>
        <div class="col-sm-4 text-left">
            <h3 align="left">Feng Xu</h3>
        </div>
        <div class="col-sm-4 text-left">
            <a href="people/changxu/"><h3 align="left">Chang Xu<br/></h3></a>
        </div>
        <div class="col-sm-4 text-left">
            <h3 align="left">Hao Hu</h3>
        </div>
        <div class="col-sm-4 text-left">
            <a href="http://cs.nju.edu.cn/yuhuang/"><h3 align="left">Yu Huang</h3></a>
        </div>
        <div class="col-sm-4 text-left">
            <h3 align="left">Chun Cao</h3>
        </div>
        <div class="col-sm-4 text-left">
            <h3 align="left">Ping Yu</h3>
        </div>
        <div class="col-sm-4 text-left">
            <h3 align="left">Jun Ma</h3>
        </div>
        <div class="col-sm-4 text-left">
            <a href="http://cs.nju.edu.cn/wangliang"><h3 align="left">Liang Wang</h3></a>
        </div>
        <div class="col-sm-4 text-left">
            <h3 align="left">Jianying Zhang</h3>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">Ph.D. Candidates</h2>
            <hr>
        </div>
        <div class="col-sm-4 text-left">
            <a href="#"><h3 align="left">Yang Zou</h3></a>
        </div>
        <div class="col-sm-4 text-left">
            <a href="#"><h3 align="left">Xuansong Li</h3></a>
        </div>
        <div class="col-sm-4 text-left">
            <a href="#"><h3 align="left">Hongyu Kuang</h3></a>
        </div>
        <div class="col-sm-4 text-left">
            <a href="#"><h3 align="left">Xiaorui Zhu</h3></a>
        </div>
        <div class="col-sm-4 text-left">
            <a href="#"><h3 align="left">Haibin Yang</h3></a>
        </div>
        <div class="col-sm-4 text-left">
            <a href="#"><h3 align="left">Hengfeng Wei</h3></a>
        </div>
        <div class="col-sm-4 text-left">
            <a href="#"><h3 align="left">Haibo Ye</h3></a>
        </div>
        <div class="col-sm-4 text-left">
            <a href="#"><h3 align="left">Yiling Yang</h3></a>
        </div>
        <div class="col-sm-4 text-left">
            <a href="#"><h3 align="left">Yuan Yao</h3></a>
        </div>
        <div class="col-sm-4 text-left">
            <a href="people/jingweixu"><h3 align="left">Jingwei Xu</h3></a>
        </div>
        <div class="col-sm-4 text-left">
            <a href="people/tianxiaogu"><h3 align="left">Tianxiao Gu</h3></a>
        </div>
        <div class="col-sm-4 text-left">
            <a href="people/yanyanjiang"><h3 align="left">Yanyan Jiang</h3></a>
        </div>
        <div class="col-sm-4 text-left">
            <a href="http://moon.nju.edu.cn/spar/people/qy.html"><h3 align="left">Yi Qin</h3></a>
        </div>
        <div class="col-sm-4 text-left">
            <a href="http://moon.nju.edu.cn/spar/people/ywh/ywh.html"><h3 align="left">Wenhua Yang</h3></a>
        </div>
        <div class="col-sm-4 text-left">
            <a href="#"><h3 align="left">Shengqu Xi</h3></a>
        </div>
        <div class="col-sm-4 text-left">
            <a href="#"><h3 align="left">Yaojing Wang</h3></a>
        </div>
        <div class="col-sm-4 text-left">
            <a href="http://moon.nju.edu.cn/spar/people/zzl/zzl.html"><h3 align="left">Zelin Zhao</h3></a>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">Graduates</h2>
            <hr>
        </div>

        <div class="col-sm-4 text-left">
            <h3 align="left">Hongwei Xie</h3>
        </div>
        <div class="col-sm-4 text-left">
            <h3 align="left">Geng Xiao</h3>
        </div>
        <div class="col-sm-4 text-left">
            <h3 align="left">Huating Liu</h3>
        </div>
        <div class="col-sm-4 text-left">
            <h3 align="left">Chenchen Cao</h3>
        </div>
        <div class="col-sm-4 text-left">
            <h3 align="left">Tongbao Zhang</h3>
        </div>
        <div class="col-sm-4 text-left">
            <h3 align="left">Rongfei Zhu</h3>
        </div>
        <div class="col-sm-4 text-left">
            <h3 align="left">Dongliang Yu</h3>
        </div>
        <div class="col-sm-4 text-left">
            <h3 align="left">Haicheng Li</h3>
        </div>
        <div class="col-sm-4 text-left">
            <h3 align="left">Jie Zhang</h3>
        </div>
        <div class="col-sm-4 text-left">
            <h3 align="left">Xiujiang Li</h3>
        </div>
        <div class="col-sm-4 text-left">
            <h3 align="left">Jian Zheng</h3>
        </div>
        <div class="col-sm-4 text-left">
            <h3 align="left">Xuezhi Hong</h3>
        </div>
        <div class="col-sm-4 text-left">
            <h3 align="left">Wang Xi</h3>
        </div>
        <div class="col-sm-4 text-left">
            <h3 align="left">Huating Liu</h3>
        </div>
        <div class="col-sm-4 text-left">
            <h3 align="left">Bin Chen</h3>
        </div>
        <div class="col-sm-4 text-left">
            <h3 align="left">Cheng Zhang
            </h3>
        </div>
        <div class="col-sm-4 text-left">
            <h3 align="left">Mingzhu Yuan
            </h3>
        </div>
        <div class="col-sm-4 text-left">
            <h3 align="left">Hao Zhang
            </h3>
        </div>
        <div class="col-sm-4 text-left">
            <h3 align="left">Shaowen Zhang
            </h3>
        </div>
        <div class="col-sm-4 text-left">
            <h3 align="left">Jianliang Jiang
            </h3>
        </div>
        <div class="col-sm-4 text-left">
            <h3 align="left">Xiaoyu Chen
            </h3>
        </div>
        <div class="col-sm-4 text-left">
            <h3 align="left">Haoyi Zhou
            </h3>
        </div>
        <div class="col-sm-4 text-left">
            <h3 align="left">Jun Tao
            </h3>
        </div>
        <div class="col-sm-4 text-left">
            <h3 align="left">Dong Chen
            </h3>
        </div>
        <div class="col-sm-4 text-left">
            <h3 align="left">Yu Du</h3>
        </div>

        <div class="clearfix"></div>
    </div>
</div>

<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">Alumni
            </h2>
            <hr>
        </div>
        <div class="col-sm-4 text-left">
            <h3 align="left">董凯
                <small>导师：吕建</small>
            </h3>
        </div>
        <div class="col-sm-4 text-left">
            <h3 align="left">张凌浩
                <small>导师：吕建</small>
            </h3>
        </div>
        <div class="col-sm-4 text-left">
            <h3 align="left">杨启亮</h3>
        </div>
        <div class="col-sm-4 text-left">
            <h3 align="left">周宇</h3>
        </div>
        <div class="col-sm-4 text-left">
            <h3 align="left">葛季栋</h3>
        </div>

        <div class="col-sm-4 text-left">
            <h3 align="left">宋巍</h3>
        </div>
        <div class="col-sm-4 text-left">
            <h3 align="left">潘静</h3>
        </div>
        <div class="col-sm-4 text-left">
            <h3 align="left">吴绽青</h3>
        </div>

        <div class="col-sm-4 text-left">
            <h3 align="left">华婷婷</h3>                
        </div>
        <div class="col-sm-4 text-left">
            <h3 align="left">谢国珍</h3>                
        </div>
        <div class="col-sm-4 text-left">
            <h3 align="left">姚燕</h3>                
        </div>

        <div class="col-sm-4 text-left">
            <h3 align="left">陈昊</h3>                
        </div>
        <div class="col-sm-4 text-left">
            <h3 align="left">王宁</h3>                
        </div>
        <div class="col-sm-4 text-left">
            <h3 align="left">袁国泉</h3>                
        </div>

        <div class="col-sm-4 text-left">
            <h3 align="left">胡海洋</h3>                
        </div>
        <div class="col-sm-4 text-left">
            <h3 align="left">冉平</h3>                
        </div>
        <div class="col-sm-4 text-left">
            <h3 align="left">张林</h3>                
        </div>


        <div class="col-sm-4 text-left">
            <h3 align="left">石兵</h3>                
        </div>
        <div class="col-sm-4 text-left">
            <h3 align="left">郭卿</h3>                
        </div>
        <div class="col-sm-4 text-left">
            <h3 align="left">林强</h3>                
        </div>


        <div class="col-sm-4 text-left">
            <h3 align="left">谢德平</h3>                
        </div>
        <div class="col-sm-4 text-left">
            <h3 align="left">关连伟</h3>                
        </div>
        <div class="col-sm-4 text-left">
            <h3 align="left">曹流</h3>                
        </div>


        <div class="col-sm-4 text-left">
            <h3 align="left">陈秀</h3>                
        </div>
        <div class="col-sm-4 text-left">
            <h3 align="left">方超</h3>                
        </div>
        <div class="col-sm-4 text-left">
            <h3 align="left">刘涛</h3>                
        </div>


        <div class="col-sm-4 text-left">
            <h3 align="left">施文波</h3>                
        </div>
        <div class="col-sm-4 text-left">
            <h3 align="left">徐刚</h3>                
        </div>
        <div class="col-sm-4 text-left">
            <h3 align="left">陈小康</h3>                
        </div>

        <div class="col-sm-4 text-left">
            <h3 align="left">苏萍</h3>                
        </div>
        <div class="col-sm-4 text-left">
            <h3 align="left">孙辉</h3>                
        </div>
        <div class="col-sm-4 text-left">
            <h3 align="left">张浩</h3>                
        </div>

        <div class="col-sm-4 text-left">
            <h3 align="left">王守涛</h3>                
        </div>
        <div class="col-sm-4 text-left">
            <h3 align="left">葛海龙</h3>                
        </div>
        <div class="col-sm-4 text-left">
            <h3 align="left">匡大虎</h3>                
        </div>

        <div class="col-sm-4 text-left">
            <h3 align="left">王珏</h3>                
        </div>
        <div class="col-sm-4 text-left">
            <h3 align="left">钟敏</h3>                
        </div>
        <div class="col-sm-4 text-left">
            <h3 align="left">李兴宇</h3>                
        </div>

        <div class="col-sm-4 text-left">
            <h3 align="left">王远</h3>                
        </div>
        <div class="col-sm-4 text-left">
            <h3 align="left">殷琴</h3>                
        </div>
        <div class="col-sm-4 text-left">
            <h3 align="left">罗滨</h3>                
        </div>

        <div class="col-sm-4 text-left">
            <h3 align="left">陆闻天</h3>                
        </div>
        <div class="col-sm-4 text-left">
            <h3 align="left">毛晓炜</h3>                
        </div>
        <div class="col-sm-4 text-left">
            <h3 align="left">潘健</h3>                
        </div>

        <div class="col-sm-4 text-left">
            <h3 align="left">李叶青</h3>                
        </div>
        <div class="col-sm-4 text-left">
            <h3 align="left">陈威</h3>                
        </div>
        <div class="col-sm-4 text-left">
            <h3 align="left">陈智勇</h3>                
        </div>


        <div class="col-sm-4 text-left">
            <h3 align="left">黄阳</h3>                
        </div>
        <div class="col-sm-4 text-left">
            <h3 align="left">陆掾</h3>                
        </div>
        <div class="col-sm-4 text-left">
            <h3 align="left">王姜</h3>                
        </div>


        <div class="col-sm-4 text-left">
            <h3 align="left">徐俊</h3>                
        </div>
        <div class="col-sm-4 text-left">
            <h3 align="left">江磊</h3>                
        </div>
        <div class="col-sm-4 text-left">
            <h3 align="left">任国超</h3>                
        </div>


        <div class="col-sm-4 text-left">
            <h3 align="left">冯仁君</h3>                
        </div>
        <div class="col-sm-4 text-left">
            <h3 align="left">张栋栋</h3>                
        </div>
        <div class="col-sm-4 text-left">
            <h3 align="left">宗波</h3>                
        </div>


        <div class="col-sm-4 text-left">
            <h3 align="left">余建平</h3>                
        </div>
        <div class="col-sm-4 text-left">
            <h3 align="left">张璟璟</h3>                
        </div>
        <div class="col-sm-4 text-left">
            <h3 align="left">辛显龙</h3>                
        </div>


        <div class="col-sm-4 text-left">
            <h3 align="left"></h3>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
{% endblock %}
