{% macro bibtex(entries) -%}
<!-- see https://verbosus.com/bibtex-style-examples.html -->
<ul class="bibtex">
{% for entry in entries %}
<li><a name="{{ entry.id }}"></a>
{% if entry.author%}<span class="bibtex author">{{ entry.author }},</span>{% endif %}
{% if entry.title %}<span class="bibtex title">{{ entry.title }},</span>{% endif %}
{% if entry.booktitle %}<span class="bibtex booktitle">{{ entry.booktitle }},</span>{% endif %}
{% if entry.journal %}<span class="bibtex journal">{{ entry.journal }},</span>{% endif %}
{% if entry.pages %}<span class="bibtex pages">{{ entry.pages }},</span>{% endif %}
{% if entry.year %}<span class="bibtex year">{{ entry.year}}.</span>{% endif %}
{% if entry.doi %}<a href="{{ entry.doi }}">[doi]</a>{% endif %}
{% if entry.url %}<a href="{{ entry.url }}">[url]</a>{% endif %}
</li>
{% endfor %}
</ul>
{%- endmacro %}
