{% extends 'base.html' %}
{% block content %}
<div class="row"><!-- row -->
    <div id="k-top-search" class="col-lg-12 clearfix"><!-- top search -->
        <form action="#" id="top-searchform" method="get" role="search">
            <div class="input-group">
                <input type="text" name="s" id="sitesearch" class="form-control" autocomplete="off" placeholder="Type in keyword(s) then hit Enter on keyboard" />
            </div>
        </form>
        <div id="bt-toggle-search" class="search-icon text-center"><i class="s-open fa fa-search"></i><i class="s-close fa fa-times"></i></div><!-- toggle search button -->
    </div><!-- top search end -->
    <div class="k-breadcrumbs col-lg-12 clearfix"><!-- breadcrumbs -->
        <ol class="breadcrumb">
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li class="active">Contact</li>
        </ol>
    </div><!-- breadcrumbs end -->
</div><!-- row end -->
<div class="row no-gutter fullwidth"><!-- row -->
    <div class="col-lg-12 col-md-12"><!-- doc body wrapper -->
        <div class="col-padded"><!-- inner custom column -->
            <div class="row gutter"><!-- row -->
                <div class="col-lg-12 col-md-12">
                    <div id="k-contact-map" class="clearfix"><!-- map -->
                        <div 
                        id="g-map-1" 
                        class="map" 
                        data-gmaptitle="Contact" 
                        data-gmapzoom="16" 
                        data-gmaplon="118.9627600994" 
                        data-gmaplat="32.1110395375" 
                        data-gmapmarker="" 
                        data-cname="Institute of Computer Software" 
                        data-caddress="No. 163 Xianlin Avenue, Qixia" 
                        data-ccity="Nanjing" 
                        data-cstate="Jiangsu" 
                        data-czip="210023" 
                        data-ccountry="China">
                        </div>
                    </div>
                </div>
            </div><!-- row end -->               
        </div><!-- inner custom column end -->
    </div><!-- doc body wrapper end -->
</div><!-- row end -->
{% endblock %}
