{% extends 'base.html' %}
{% block page_path %}
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li class="active">Contact</li>
{% endblock %}
{% block content %}
<div class="row no-gutter fullwidth"><!-- row -->
    <div class="col-lg-12 col-md-12"><!-- doc body wrapper -->
        <div class="col-padded"><!-- inner custom column -->
            <div class="row gutter"><!-- row -->
                <div class="col-lg-12 col-md-12">
                    <div id="panoCon" style="height: 400px;"></div> 
                    <div id="overViewCon" style="height:400px;"></div>
                </div>
            </div><!-- row end -->
        </div><!-- inner custom column end -->
    </div><!-- doc body wrapper end -->
</div><!-- row end -->
{% endblock %}

{% block customjs %}
<!-- Google Maps -->
<script charset="utf-8" src="http://map.qq.com/api/js?v=2.exp&key=WBEBZ-EL6WS-A4ZOR-643I5-VIJE5-SYBU7"></script>
<script src="http://open.map.qq.com/plugin/v2/PanoramaOverview/PanoramaOverview-min.js"></script>
<script>
    var panorama = new qq.maps.Panorama('panoCon', {
        "pano": "10101122121102140333100",
        "pov":{
            heading:82,
            pitch:0
        }
    }); 
    var ovc=document.getElementById('overViewCon');
    var overview = new qq.maps.PanoOverview(ovc,{ 
        panorama:panorama 
    });
    var qqmap=overview.getMap();
</script>
{% endblock %}
