{% extends 'base.html' %}
{% block page_path %}
<li><a href="{{ url_for('index') }}">Home</a></li>
<li class="active">Home Page</li>
{% endblock %}
{% block content %}
<div class="row no-gutter fullwidth"><!-- row -->
    <div class="col-lg-12 clearfix"><!-- featured posts slider -->
        <div id="carousel-featured" class="carousel slide" data-interval="4000" data-ride="carousel"><!-- featured posts slider wrapper; auto-slide -->
            <ol class="carousel-indicators"><!-- Indicators -->
                <li data-target="#carousel-featured" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-featured" data-slide-to="1"></li>
                <li data-target="#carousel-featured" data-slide-to="2"></li>
            </ol><!-- Indicators end -->
            <div class="carousel-inner"><!-- Wrapper for slides -->
                <div class="item active">
                    <img src="{{ url_for('static', filename='img/slide-5.jpg') }}" alt="Institute of Computer Software" />
                    <div class="k-carousel-caption pos-c-2-3 scheme-dark no-bg">
                        <div class="caption-content">
                            <h3 class="caption-title title-giant">Institute of Computer Software</h3>
                            <p>
                                Founded in 1984. Advancing software technology in China.
                            </p>
                            <p>
                                <a href="#" class="btn btn-sm btn-danger" title="Button">READ MORE</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="item ">
                    <img src="{{ url_for('static', filename='img/slide-2.jpg') }}" alt="Professor Jiafu Xu" />
                    <div class="k-carousel-caption pos-2-3-right scheme-dark">
                        <div class="caption-content">
                            <h3 class="caption-title">Professor Jiafu Xu, Founding Director</h3>
                            <p>
                                Pioneering researcher and educatior of software technolgoy in China. 
                            </p><p>
                                CCF Liftime Achievement Award Winner. 
                               <!--中国计算机软件学先驱，中国计算机科学奠基人之一，南京大学教授。-->
                            </p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="{{ url_for('static', filename='img/slide-1.jpg') }}" alt="Professor Jian Lü" />
                    <div class="k-carousel-caption pos-2-3-left scheme-dark">
                        <div class="caption-content">
                            <h3 class="caption-title">Professor Jian Lü, Vice President of Nanjing University</h3>
                            <p>
                            Director of the State Key Laboratory of Novel Software Technology at Nanjing University
                            <!--博士生导师，计算机软件新技术国家重点实验室主任。2013年当选中国科学院院士。-->
                            </p>
                        </div>
                    </div>
                </div>
            </div><!-- Wrapper for slides end -->
            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-featured" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
            <a class="right carousel-control" href="#carousel-featured" data-slide="next"><i class="fa fa-chevron-right"></i></a>
            <!-- Controls end -->
        </div><!-- featured posts slider wrapper end -->
    </div><!-- featured posts slider end -->
</div><!-- row end -->
<div class="row no-gutter"><!-- row -->
    <div class="col-lg-4 col-md-4"><!-- upcoming events wrapper -->
        <div class="col-padded col-shaded"><!-- inner custom column -->
            <ul class="list-unstyled clear-margins"><!-- widgets -->
                <li class="widget-container widget_up_events"><!-- widgets list -->
                    <h1 class="title-widget">Events</h1>
                    <ul class="list-unstyled">
                         <!-- the most close deadline -->
                         {% if deadlines|first %}
                         <li class="up-event-wrap">
                         <h1 class="title-median"><a href="{{ url_for('events', path='deadlines') }}" title="{{ deadlines[0].label}}">DEADLINE: {{ deadlines[0].label }}</a></h1>
                             <div class="up-event-meta clearfix">
                                 <div class="up-event-date">{{ deadlines[0].date | to_date }}</div><div class="up-event-time">{{ deadlines[0].date | to_time }}</div>
                             </div>
                         </li>
                         {% endif %}
                         <!-- -->
                         {% if phd|first %}
                         <li class="up-event-wrap">
                         <h1 class="title-median"><a href="{{ url_for('events', path='phd') }}" title="{{ phd[0].speaker }}">PhD Seminar: {{ phd[0].speaker }}</a></h1>
                             <div class="up-event-meta clearfix">
                                 <div class="up-event-date">{{ phd[0].date | to_date }}</div><div class="up-event-time">{{ phd[0].date | to_time }}</div>
                             </div>
                         </li>
                         {% endif %}
                         {% for e in events %}
                            {% if loop.index <= 3 %}
                                <li class="up-event-wrap">
                                <h1 class="title-median"><a href="{{ e.url }}" title="{{ e.title }}">{{ e.title }}</a></h1>
                                    <div class="up-event-meta clearfix">
                                        <div class="up-event-date">{{ e.date | to_date }}</div><div class="up-event-time">{{ e.date | to_time }} {% if e.end %} - {{ e.end | to_time}} {% endif %}</div>
                                    </div>
                                    <p>
                                        {{ e.summary|truncate(100)}}
                                        <!--<a href="{{ e.events }}" class="moretag" title="read more">MORE</a>-->
                                    </p>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li><!-- widgets list end -->
            </ul><!-- widgets end -->
        </div><!-- inner custom column end -->
    </div><!-- upcoming events wrapper end -->
    <div class="col-lg-4 col-md-4"><!-- recent news wrapper -->
        <div class="col-padded"><!-- inner custom column -->
            <ul class="list-unstyled clear-margins"><!-- widgets -->
                <li class="widget-container widget_recent_news"><!-- widgets list -->
                    <h1 class="title-widget">News</h1>
                    <ul class="list-unstyled">
                        {% for n in news %}
                            {% if loop.index <= 3 %}
                                <li class="recent-news-wrap">
                                <h1 class="title-median"><a href="{{ url_for('news_page', path=n.path) }}" title="{{n.title}}">{{ n.title }}</a></h1>
                                    <div class="recent-news-meta">
                                        <div class="recent-news-date">{{ n.date | to_date }}</div>
                                    </div>
                                    <div class="recent-news-content clearfix">
                                        {% if n.img_path %}
                                        <figure class="recent-news-thumb">
                                            <a href="{{ url_for('news_page', path=n.path) }}" title="{{ n.img_title }}"><img src="{{url_for('static', filename=n.img_path)}}" class="attachment-thumbnail wp-post-image" alt="Thumbnail 1" /></a>
                                        </figure>
                                        <div class="recent-news-text">
                                            <p>{{ n.summary|truncate(100) }}</p>
                                        </div>
                                        {% else %}
                                        <div class="recent-news-text" style="margin-left:0px">
                                            <p>{{ n.summary|truncate(100) }}</p>
                                        </div>
                                        {% endif %}
                                    </div>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                         <div class="recent-news-wrap" style="text-align:right">
                            <a href="{{ url_for('news') }}" class="moretag" title="read more">more</a>
                         <div>
                </li><!-- widgets list end -->
            </ul><!-- widgets end -->
        </div><!-- inner custom column end -->
    </div><!-- recent news wrapper end -->
    <div class="col-lg-4 col-md-4"><!-- misc wrapper -->
        <div class="col-padded col-shaded"><!-- inner custom column -->
            <ul class="list-unstyled clear-margins"><!-- widgets -->
                <li class="widget-container widget_course_search"><!-- widget -->
                    <h1 class="title-titan">Introduction</h1>
                    <p>The Institute of Computer Software (ICS) is affiliated with <a href="http://www.nju.edu.cn" title="Nanjing University">Nanjing University</a>
                    and supported by the <a href="http://cs.nju.edu.cn">Department of Computer Science and Technology of Nanjing University</a>.
                    ICS was established at 1984 by Professor Jiafu Xu, the present director of ICS.
                    Past 31 years of growing, ICS now has {{ members.faculty|length }} faculties, {{ members.phd|length}} PhD Students and {{ members.graduates|length }} graduates.
                    </p>
                    <!--<p>南京大学计算机软件研究所（以下简称：软件所）隶属于<a href="http://www.nju.edu.cn">南京大学</a>，依托<a href="http://cs.nju.edu.cn">南京大学计算机科学与技术系</a>建立。软件所在xxx教授的主持下成立于xxx年，现任所长徐家福教授，副所长马晓星教授。目前软件所包括教职员工13名，在读博士研究生xxx名，在读硕士研究生xxx名，详情请参见<a href="{{ url_for('people') }}">成员</a>。</p>-->
                    <p>The research interests of ICS mainly focus on Internetware-based Software Methodology, Self-Adaptive Software, Software Dynamic Evolution, Context-aware Modeling, Software Trustiness, Software Quality, Software Requirements Modeling and Analysis etc.</p>

                    <!--<p>软件所的主要研究方向包括：面向网构软件的方法学、软件自适应与动态演化技术、环境显式化技术、软件可信与质量保障技术、软件需求建模与分析技术。</p>-->

                </li><!-- widget end -->
                <!--
                <li class="widget-container widget_text">
                --><!-- widget -->
                    <!--
                    <a href="#" class="custom-button cb-green" title="How to apply?">
                        <i class="custom-button-icon fa fa-check-square-o"></i>
                        <span class="custom-button-wrap">
                            <span class="custom-button-title">How to apply?</span>
                            <span class="custom-button-tagline">Join us whenewer you feel it’s time!</span>
                        </span>
                        <em></em>
                    </a>
                    <a href="#" class="custom-button cb-gray" title="Campus tour">
                        <i class="custom-button-icon fa  fa-play-circle-o"></i>
                        <span class="custom-button-wrap">
                            <span class="custom-button-title">Our Research</span>
                            <span class="custom-button-tagline">Our research and papers...</span>
                        </span>
                        <em></em>
                    </a>
                    <a href="#" class="custom-button cb-yellow" title="Prospectus">
                        <i class="custom-button-icon fa  fa-leaf"></i>
                        <span class="custom-button-wrap">
                            <span class="custom-button-title">Prospectus</span>
                            <span class="custom-button-tagline">Request a free Institute Prospectus!</span>
                        </span>
                        <em></em>
                    </a>
                </li>-->
                <!-- widget end -->
            </ul><!-- widgets end -->
        </div><!-- inner custom column end -->
    </div><!-- misc wrapper end -->
</div><!-- row end -->
{% endblock %}
