{% macro render_menu() %}
<nav id="k-menu" class="k-main-navig"><!-- main navig -->
    <ul id="drop-down-left" class="k-dropdown-menu">
        <li {% if request.path == url_for('page') %} class="current-menu-item" {% endif %}>
            <a href="{{ url_for('page') }}" title="">首页</a>
        </li>
        <!--
        <li {% if request.path == url_for('page', path='people/') %} class="current-menu-item" {% endif %}>
            <a href="{{ url_for('page', path='people/') }}" title="">成员</a>
        </li>
        -->
        <li {% if request.path == url_for('page', path='centers/') %} class="current-menu-item" {% endif %}>
            <a href="{{ url_for('page', path='centers/') }}" title="">组织</a>
            <ul class="sub-menu">
                <li {% if request.path == url_for('page', path='centers/research-center/index') %} class="current-menu-item" {% endif %}><a href="{{ url_for('page', path='centers/research-center/index') }}">基础研究中心</a></li>
                <li {% if request.path == url_for('page', path='centers/engineering-center/index') %} class="current-menu-item" {% endif %}><a href="{{ url_for('page', path='centers/engineering-center/index') }}">系统工程中心</a></li>
                <li {% if request.path == url_for('page', path='centers/leading-edge-center/index') %} class="current-menu-item" {% endif %}><a href="{{ url_for('page', path='centers/leading-edge-center/index') }}">前沿交叉中心</a></li>
            </ul>
        </li>
        <!--
        <li>
            <a href="{{ url_for('page', path='groups/') }}" title="">中心</a>
            <ul class="sub-menu">
                <li ><a href="http://www.bigoh.net/wiki/">Dis-Alg</a></li>
                <li ><a href="{{ url_for('page', path='dse/') }}">DSE</a></li>
                <li ><a href="{{ url_for('page', path='spar/') }}">SPAR</a></li>
            </ul>
        </li>
        <li {% if request.path == url_for('page', path='news/') %} class="current-menu-item" {% endif %}>
            <a href="{{ url_for('page', path='news/') }}" title="">新闻</a>
            <ul class="sub-menu">
                <li ><a href="{{ url_for('page', path='news/papers') }}">论文</a></li>
                <li ><a href="{{ url_for('page', path='news/awards') }}">奖项</a></li>
                <li ><a href="{{ url_for('page', path='news/scholarships') }}">奖学金</a></li>
            </ul>
        </li>
        -->
        <li {% if request.path == url_for('page', path='events') %} class="current-menu-item" {% endif %}>
            <a href="{{ url_for('page', path='events/') }}" title="">活动</a>
            <ul class="sub-menu">
                <li {% if request.path == url_for('page', path='events/phd/18192') %} class="current-menu-item" {% endif %}><a href="{{ url_for('page', path='events/phd/18192') }}">博士生讨论班</a></li>
                <li {% if request.path == url_for('page', path='events/master/index') %} class="current-menu-item" {% endif %}><a href="{{ url_for('page', path='events/master/index') }}">研究中心硕士生讨论班</a></li>
                <li {% if request.path == url_for('page', path='events/master_eng/index') %} class="current-menu-item" {% endif %}><a href="{{ url_for('page', path='events/master_eng/index') }}">工程中心硕士生讨论班</a></li>
                <li {% if request.path == url_for('page', path='/spar/seminar') %} class="current-menu-item" {% endif %}><a href="{{ url_for('page', path='/spar/seminar/') }}">Spar 讨论班</a></li>
            </ul>
        </li>
        <li>
            <a href="{{ url_for('page', path='courses/') }}" title="">课程</a>
        </li>
        <li {% if request.path == url_for('page', path='recruit') %} class="current-menu-item" {% endif %}>
            <a href="{{ url_for('page', path='recruit/') }}" title="">招生</a>
        </li>
        <li>
            <a href="{{ url_for('page', path='ad/') }}" title="">资源</a>
            <ul class="sub-menu">
                <li {% if request.path == url_for('page', path='news/index') %} class="current-menu-item" {% endif %}><a href="{{ url_for('page', path='news/index') }}">新闻</a></li>
                <li {% if request.path == url_for('page', path='ad/awards') %} class="current-menu-item" {% endif %}><a href="{{ url_for('page', path='ad/awards') }}">奖项</a></li>
                <li {% if request.path == url_for('page', path='ad/scholarships') %} class="current-menu-item" {% endif %}><a href="{{ url_for('page', path='ad/scholarships') }}">奖学金</a></li>
                <li {% if request.path == url_for('page', path='ad/poster') %} class="current-menu-item" {% endif %}><a href="{{ url_for('page', path='ad/poster') }}">海报</a></li>
                <li {% if request.path == url_for('page', path='ad/column') %} class="current-menu-item" {% endif %}><a href="{{ url_for('page', path='ad/column') }}">专栏</a></li>
                <li {% if request.path == url_for('page', path='ad/wechat') %} class="current-menu-item" {% endif %}><a href="{{ url_for('page', path='ad/wechat') }}">公众号</a></li>
                <li {% if request.path == url_for('page', path='ad/contact') %} class="current-menu-item" {% endif %}><a href="{{ url_for('page', path='ad/contact') }}">联系我们</a></li>
            </ul>

        </li>
    </ul>
</nav><!-- main navig end -->
{% endmacro %}
