{% extends 'base.html' %}
{% block content %}
<div class="row"><!-- row -->
    <div id="k-top-search" class="col-lg-12 clearfix"><!-- top search -->
        <form action="#" id="top-searchform" method="get" role="search">
            <div class="input-group">
                <input type="text" name="s" id="sitesearch" class="form-control" autocomplete="off" placeholder="Type in keyword(s) then hit Enter on keyboard" />
            </div>
        </form>
        <div id="bt-toggle-search" class="search-icon text-center"><i class="s-open fa fa-search"></i><i class="s-close fa fa-times"></i></div><!-- toggle search button -->
    </div><!-- top search end -->
    <div class="k-breadcrumbs col-lg-12 clearfix"><!-- breadcrumbs -->
        <ol class="breadcrumb">
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li class="active">News</li>
        </ol>
    </div><!-- breadcrumbs end -->
</div><!-- row end -->
<div class="row no-gutter"><!-- row -->
    
    <div class="col-lg-12 col-md-12"><!-- doc body wrapper -->
    	
        <div class="col-padded"><!-- inner custom column -->
        
        	<div class="row gutter"><!-- row -->
            
            	<div class="col-lg-12 col-md-12">
        
                	<h1 class="page-title">Latest News</h1><!-- category title -->
                
                </div>
            
            </div><!-- row end -->
        
        	<div class="row gutter"><!-- row -->
            
            	<div class="col-lg-12 col-md-12">
                {% for n in news%}
                	<div class="up-event-wrapper"><!-- event summary -->
                    
                        <h1 class="title-median"><a href="{{ url_for('news', path=n.path) }}" title="{{ n.title }}">{{ n.title }}</a></h1>
                        
                        <div class="up-event-meta clearfix">
                            <div class="up-event-date">{{ n.date }}</div>
                        </div>
                        
                        <p>
                        Suspendisse faucibus sem nec dictum tristique. Morbi quis scelerisque ligula. Mauris id nisl eget velit tincidunt congue. Nam vel egestas arcu. Donec pretium rutrum justo eu dapibus... <a href="{{ url_for('news', path=n.path) }}" class="moretag" title="read more">MORE</a> 
                        </p>
                    
                    </div><!-- event summary end -->
                {% endfor %}  
                </div>
            
            </div><!-- row end --> 
            
            <div class="row gutter"><!-- row -->
            
            	<div class="col-lg-12">
            
                    <ul class="pagination pull-right"><!-- pagination -->
                        <li class="disabled"><a href="#">Prev</a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">Next</a></li>
                    </ul><!-- pagination end -->
                
                </div>
                
            </div><!-- row end -->                 
        
        </div><!-- inner custom column end -->
        
    </div><!-- doc body wrapper end -->
</div>

{% endblock %}
