{% extends 'base.html' %}
{% block content %}
<div class="row"><!-- row -->
    <div id="k-top-search" class="col-lg-12 clearfix"><!-- top search -->
        <form action="#" id="top-searchform" method="get" role="search">
            <div class="input-group">
                <input type="text" name="s" id="sitesearch" class="form-control" autocomplete="off" placeholder="Type in keyword(s) then hit Enter on keyboard" />
            </div>
        </form>
        <div id="bt-toggle-search" class="search-icon text-center"><i class="s-open fa fa-search"></i><i class="s-close fa fa-times"></i></div><!-- toggle search button -->
    </div><!-- top search end -->
    <div class="k-breadcrumbs col-lg-12 clearfix"><!-- breadcrumbs -->
        <ol class="breadcrumb">
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li class="active">News</li>
        </ol>
    </div><!-- breadcrumbs end -->
</div><!-- row end -->
<div class="row no-gutter"><!-- row -->
    <div class="col-lg-12 col-md-12"><!-- doc body wrapper -->
        <div class="col-padded"><!-- inner custom column -->
            <div class="row gutter"><!-- row -->
                <div class="col-lg-12 col-md-12">
                    <h1 class="page-title">Latest News</h1><!-- category title -->
                </div>
            </div><!-- row end -->
            <div class="row gutter"><!-- row -->
                <div class="col-lg-12 col-md-12">
                {% for n in news%}
                    <div class="up-event-wrapper"><!-- event summary -->
                        <h1 class="title-median"><a href="{{ url_for('news_page', path=n.path) }}" title="{{ n.title }}">{{ n.title }}</a></h1>
                        <div class="up-event-meta clearfix">
                            <div class="up-event-date">{{ n.date|to_date }}</div>
                        </div>
                        <p>
                        {{ n.summary|truncate(255) }} <a href="{{ url_for('news_page', path=n.path) }}" class="moretag" title="read more">MORE</a> 
                        </p>
                    </div><!-- event summary end -->
                {% endfor %}
                </div>
            </div><!-- row end -->
            <div class="row gutter"><!-- row -->
                <div class="col-lg-12">
                    <ul class="pagination pull-right"><!-- pagination -->
                        {% if pg.current == pg.first %}
                        <!--<li class="disabled"><a href="{{ url_for('news', page_num=pg.current) }}">Prev</a></li>-->
                        {% else %}
                            <li><a href="{{ url_for('news', page_num=pg.current) }}">Prev</a></li>
                        {% endif %}
                        {% if pg.last == 1 %}
                            <li class="active"><a href="{{ url_for('news', page_num=1) }}">1</a></li>
                        {% endif %}
                        {% for index in range(pg.first, pg.last) %}
                        {% if pg.current == index %}
                            <li class="active"><a href="{{ url_for('news', page_num=index) }}">{{ index }}</a></li>
                        {% else %}
                            <li><a href="#">{{ index }}</a></li>
                        {% endif %}
                        {% endfor %}
                        {% if pg.current == pg.last %}
                        <!--<li class="disabled"><a href="{{ url_for('news', page_num=pg.current) }}">Next</a></li>-->
                        {% else %}
                            <li><a href="{{ url_for('news', page_num=pg.current) }}">Next</a></li>
                        {% endif %}
                    </ul><!-- pagination end -->
                </div>
            </div><!-- row end -->                 
        </div><!-- inner custom column end -->
    </div><!-- doc body wrapper end -->
</div>
{% endblock %}
