{% extends "base.html" %}
{% block title%}
{{ page.meta.title }} |
{% endblock%}
{% block page_path %}
<li><a href="{{ url_for('index') }}">Home</a></li>
<li><a href="{{ url_for('news') }}">News</a></li>
<li class="active">{{ page.meta.title }}</li>
{% endblock %}
{% block content %}
<div class="row no-gutter fullwidth"><!-- row -->
    <div class="col-lg-12 col-md-12"><!-- doc body wrapper -->
        <div class="col-padded"><!-- inner custom column -->
            <div class="row gutter"><!-- row -->
                <div class="col-lg-12 col-md-12">
                    <div class="news-title-meta">
                        <h1 class="page-title">{{ page.meta.title }}</h1>
                        <div class="news-meta">
                            <span class="news-meta-date">{{ page.meta.date }}</span>
                            <span class="news-meta-category"><a href="news.html" title="News">News</a></span>
                        </div>
                    </div>
                    <div class="news-body">
                        {{ page.html|safe }}
                    </div>
                </div>
            </div><!-- row end -->  
        </div><!-- inner custom column end -->
    </div><!-- doc body wrapper end -->
</div><!-- row end -->
{% endblock content %}
