{% extends "base.html" %}
{% block title%}
{{ page.title }}
{% endblock%}

{% block content %}
<div class="row">
    <div class="box">
        <div class="col-lg-12">

    <div id="wrapper">
        <div id="page">
            <div id="logo">
                <h1>{{ page.meta.name }} {{ page.meta['姓名']}}</h1>
                <br />
                <p>
                {{ page.meta.title}}<br /> <!-- PhD or ... -->
                    <a href="http://moon.nju.edu.cn/">Institute of Computer Software</a>
                    <a href="http://cs.nju.edu.cn/">Department of Computer Science and Technology</a>
                    <br /> <a href="http://www.nju.edu.cn/">Nanjing University</a>, Nanjing, China
                </p>
            </div>
            <hr />
            <!-- end #logo -->
            <div id="content">
                <div class="post">
                    <h2 class="title"><a name="Biography">Biography</a></h2>
                    <div class="entry">
                        <table>
                            <tr>
                                <td valign="top">
                                    <p>
                                        {{ page.meta.biography|safe }}
                                    </p>
                                </td>
                                <td><img style="float:right;display:block;margin-left:15px" src="{{ page.meta.image }}" width="225" /></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="post">
                    <h2 class="title"><a name="Research">Research</a></h2>
                    <div class="entry">
                        <p>{{ page.meta.research|safe }}</p>
                    </div>
                </div>
                <div class="post">
                    <h2 class="title"><a name="Contact">Contact</a></h2>
                    <div class="entry">
                        <table>
                            {% if page.meta.email %}
                            <tr>
                                <td align="right">Email: </td>
                                <td style="padding-left:15px">
                                    {{ page.meta.email }}
                                </td>
                            </tr>
                            {% endif %}

                            {% if page.meta.office %}
                            <tr>
                                <td align="right">Office:</td>
                                <td style="padding-left:15px">
                                    {{ page.meta.office }}
                                </td>
                            </tr>
                            {% endif %}

                            {% if page.meta.email %}
                            <tr>
                                <td valign="top" align="right">Address:</td>
                                <td style="padding-left:15px">{{ page.meta.address }}</td>
                            </tr>
                            {% endif %}
                        </table>
                    </div>
                </div>

                <!-- end #content -->
                <div style="clear: both;">&nbsp;</div>
            </div>
        </div>
        <!-- end #page -->
        <div id="footer-bgcontent">
            <div id="footer">
                <p>Maintained by {{page.meta.name}}. Last updated: {{ page.meta.date }}.</p>
            </div>
        </div>
        <!-- end #footer -->
    </div>
        </div>
    </div>
</div>

{% endblock content %}
