{% extends 'base.html' %}
{% block title%}People |{% endblock %}
{% block page_path %}
<li class="active">People</li>
{% endblock %}
{% block content %}
<div class="row people"><!-- row -->
    <div class="col-lg-12 col-md-12"><!-- doc body wrapper -->
        <div class="col-padded"><!-- inner custom column -->
            <h1 class="page-title">People</h1>
            <div class="news-body">
                 <p class="call-out">
                 Currently, there are <a href="#faculty">{{ people.faculty|length}}</a> faculty members and <a href="#students">{{ people.phd|length + people.graduates|length + people.undergraduates|length }}</a> students.
                 </p>
               <div class="separator-dbl-strike"></div><!-- separator -->
               <a name="faculty"></a>
               <h2>Faculty</h2>
                <div class="row small k-equal-height"><!-- row -->
                    {% for item in people.faculty %}
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="pblock">
                        {% if item.url %} <a href="{{ item.url }}"> {% endif %}
                            <table><tr>
                                <td>
                                    {% if item.avatar %}
                                        <img class="avatar" src="{{ item.avatar }}"/>
                                    {% else %}
                                        <img class="avatar" src="/static/img/avatar/default.jpg"/>
                                    {% endif %}
                                </td>
                                <td>
                                    <span class="name">{{ item.name }}</span><br>{{ item.title }}
                                </td>
                            </tr></table>
                            
                            <!-- <p>{{ item.title }}</p> -->
                        {% if item.url %} </a> {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div><!-- row end -->
                <div class="separator-dashed"></div><!-- separator -->
                <a name="students"></a>
                <h2>Ph.D. Student</h2>
                <div class="row small k-equal-height"><!-- row -->
                    {% for item in people.phd %}
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="pblock">
                        {% if item.url %} <a href="{{ item.url }}"> {% endif %}
                            <table><tr>
                            <td>
                                {% if item.avatar %}
                                    <img class="avatar" src="{{ item.avatar }}"/>
                                {% else %}
                                    <img class="avatar" src="/static/img/avatar/default.jpg"/>
                            </td>
                            {% endif %}
                            <td> <span class="name">{{ item.name }}</span> <br>{{ item.from }} – </td>
                            </tr></table>
                        {% if item.url %} </a> {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div><!-- row end -->
                <div class="separator-dashed"></div><!-- separator -->
                <h2>Master Student</h2>
                <div class="row small k-equal-height"><!-- row -->
                    {% for item in people.graduates %}
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="pblock">
                        {% if item.url %} <a href="{{ item.url }}"> {% endif %}
                            <table><tr>
                            <td>
                                {% if item.avatar %}
                                    <img class="avatar" src="{{ item.avatar }}"/>
                                {% else %}
                                    <img class="avatar" src="/static/img/avatar/default.jpg"/>
                            </td>
                            {% endif %}
                            <td> <span class="name">{{ item.name }}</span> <br>{{ item.from }} –</td>
                            </tr></table>
                            {% if item.url %} </a> {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div><!-- row end -->
            </div>
        </div><!-- inner custom column end -->
    </div><!-- doc body wrapper end -->
</div><!-- row end -->
{% endblock %}
