{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">People
            </h2>
            <hr>
        </div>
        <div class="col-md-6">
            <img class="img-responsive img-border-left" src="{{ url_for('static', filename='img/all_members.jpg') }}" alt="">
        </div>
        <div class="col-md-6">
            <p>软件所现任教职员工{{ people.faculty|length }}名。所长徐家福教授，副所长马晓星教授。</p>
            <p>在读博士生{{ people.phd|length }}名。</p>
            <p>在读硕士生{{ people.graduates|length }}名。</p>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">Faculty
            </h2>
            <hr>
        </div>
        {% for item in people.faculty %}
        <div class="col-sm-4 text-left">
            {% if item.url%}
            <a href="{{ item.url }}">
            {% endif %}
            <h3 align="left">{{ item.name }}</h3>
            {% if item.url%}
            </a>
            {% endif %}
        </div>
        {% endfor %}
        <div class="clearfix"></div>
    </div>
</div>

<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">Ph.D. Candidates</h2>
            <hr>
        </div>

        {% for item in people.phd %}
        <div class="col-sm-4 text-left">
            {% if item.url%}
            <a href="{{ item.url }}">
            {% endif %}
            <h3 align="left">{{ item.name }}</h3>
            {% if item.url%}
            </a>
            {% endif %}
        </div>
        {% endfor %}

        <div class="clearfix"></div>
    </div>
</div>

<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">Graduates</h2>
            <hr>
        </div>

        {% for item in people.graduates %}
        <div class="col-sm-4 text-left">
            {% if item.url%}
            <a href="{{ item.url }}">
            {% endif %}
            <h3 align="left">{{ item.name }}</h3>
            {% if item.url%}
            </a>
            {% endif %}
        </div>
        {% endfor %}

        <div class="clearfix"></div>
    </div>
</div>

<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">Alumni
            </h2>
            <hr>
        </div>

        {% for item in people.alumni %}
        <div class="col-sm-4 text-left">
            {% if item.url%}
            <a href="{{ item.url }}">
            {% endif %}
            <h3 align="left">{{ item.name }}</h3>
            {% if item.url%}
            </a>
            {% endif %}
        </div>
        {% endfor %}

        <div class="col-sm-4 text-left">
            <h3 align="left"></h3>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
{% endblock %}
