<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>南京大学计算机软件研究所 - Institute of Computer Software at Nanjing University</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/business-casual.css" rel="stylesheet">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div class="brand">南京大学计算机软件研究所</div>
    <div class="address-bar">江苏省南京市 | 仙林大道163号 | 南京大学仙林校区 | 计算机科学与技术楼 | 邮编：210023</div>

    <!-- Navigation -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">软件研究所</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
                <a class="navbar-brand" href="index.html">软件研究所</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="index.html">主页.Home</a>
                    </li>
                    <li>
                        <a href="people.html">成员.People</a>
                    </li>
                    <li>
                        <a href="http://moon.nju.edu.cn/courses/">教学.Teaching</a>
                    </li>
                    <li>
                        <a href="research.html">科研.Research</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">软件所成员简介
                    </h2>
                    <hr>
                </div>
                <div class="col-md-6">
                    <img class="img-responsive img-border-left" src="img/all_members.jpg" alt="">
                </div>
                <div class="col-md-6">
                    <p>软件所现任教职员工13名。所长徐家福教授，副所长马晓星教授。</p>
                    <p>在读博士生若干名。</p>
                    <p>在读硕士生若干名。</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">教师团队
                    </h2>
                    <hr>
                </div>
                <div class="col-sm-4 text-left">
                    <h3 align="left">徐家福
			<small>Jiafu Xu</small><br />
                        <small>教授</small><br />
                    </h3>
				<br />
			Email: <br />
			Tel  : 
                </div>
                <div class="col-sm-4 text-left">
                    <h3 align="left">吕建
			<small>Jian Lu</small><br />
                        <small>教授</small><br />
                    </h3>
			网构软件<br />
			Email: lj@nju.edu.cn<br />
			Tel  : 
                </div>
                <div class="col-sm-4 text-left">
                    <h3 align="left">马晓星
			<small>Xiaoxing Ma</small><br />
                        <small>教授</small><br />
                    </h3>
			软件演化<br />
			Email: <br />
			Tel  : 
                </div>
                <div class="col-sm-4 text-left">
                    <h3 align="left">陶先平
			<small>Xianping Tao</small><br />
                        <small>教授</small><br />
                    </h3>
			普适计算<br />
			Email: txp@nju.edu.cn<br />
			Tel  : +86 +25 83593694
                </div>
		<div class="col-sm-4 text-left">
                    <h3 align="left">徐锋
			<small>Feng Xu</small><br />
                        <small>教授</small><br />
                    </h3>
			可信软件<br />
			Email: <br />
			Tel  : 
                </div>
                <div class="col-sm-4 text-left">
                    <h3 align="left">许畅
			<small>Chang Xu</small><br />
                        <small>副教授</small><br />
                    </h3>
			软件质量保证<br />
			Email: <br />
			Tel  : 
                </div>
                <div class="col-sm-4 text-left">
                    <h3 align="left">胡昊
			<small>Hao Hu</small><br />
                        <small>副教授</small><br />
                    </h3>
			软件需求<br />
			Email: <br />
			Tel  : 
                </div>
		<div class="col-sm-4 text-left">
                    <h3 align="left">黄宇
			<small>Yu Huang</small><br />
                        <small>副教授</small><br />
                    </h3>
			分布式软件<br />
			Email: <br />
			Tel  : 
                </div>
                <div class="col-sm-4 text-left">
                    <h3 align="left">曹春
			<small>Chang Xu</small><br />
                        <small>副教授</small><br />
                    </h3>
			软件质量保证<br />
			Email: <br />
			Tel  : 
                </div>
                <div class="col-sm-4 text-left">
                    <h3 align="left">余萍
			<small>Ping Yu</small><br />
                        <small>讲师</small><br />
                    </h3>
			软件质量保证<br />
			Email: <br />
			Tel  : 
                </div>
		<div class="col-sm-4 text-left">
                    <h3 align="left">马骏
			<small>Jun Ma</small><br />
                        <small>讲师</small><br />
                    </h3>
			普适计算<br />
			Email: <br />
			Tel  : 
                </div>
                <div class="col-sm-4 text-left">
		<a href="http://cs.nju.edu.cn/wangliang">
                    <h3 align="left">汪亮
			<small>Liang Wang</small><br />
                        <small>助理研究员</small><br />
                    </h3> </a>
			交互式软件	 <br />
			Email: wl@nju.edu.cn<br />
			Tel  : 
                </div>
               <div class="col-sm-4 text-left">
                    <h3 align="left">张建莹
			<small>Jianying Zhang</small><br />
                        <small>科技秘书</small><br />
                    </h3>
			Email: zjy@nju.edu.cn<br />
			Tel  : 
                </div>

                <div class="clearfix"></div>
            </div>
        </div>

	<div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">博士生团队
                    </h2>
                    <hr>
                </div>
                <div class="col-sm-4 text-left">
                    <h3 align="left">张凌浩
                        <small>导师：吕建</small>
                    </h3>
                </div>
                <div class="col-sm-4 text-left">
                    <h3 align="left">李晅松
                        <small>导师：吕建</small>
                    </h3>                </div>
                <div class="col-sm-4 text-left">
                    <h3 align="left">董凯
                        <small>导师：吕建</small>
                    </h3>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

	<div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">硕士生团队
                    </h2>
                    <hr>
                </div>
                <div class="col-sm-4 text-left">
                    <h3 align="left">谢宏伟
                        <small>导师：陶先平</small>
                    </h3>
                </div>
                <div class="col-sm-4 text-left">
                    <h3 align="left">肖耿
                        <small>导师：黄宇</small>
                    </h3>                </div>
                <div class="col-sm-4 text-left">
                    <h3 align="left">刘华艇
                        <small>导师：曹春</small>
                    </h3>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

	<div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">已毕业学生
                    </h2>
                    <hr>
                </div>
                <div class="col-sm-4 text-left">
                    <h3 align="left">杨启亮</h3>
                </div>
                <div class="col-sm-4 text-left">
                    <h3 align="left">周宇</h3>
                </div>
                <div class="col-sm-4 text-left">
                    <h3 align="left">葛季栋</h3>
                </div>

                <div class="col-sm-4 text-left">
                    <h3 align="left">宋巍</h3>
                </div>
                <div class="col-sm-4 text-left">
                    <h3 align="left">潘静</h3>
                </div>
                <div class="col-sm-4 text-left">
                    <h3 align="left">吴绽青</h3>
                </div>

                <div class="col-sm-4 text-left">
                    <h3 align="left">华婷婷</h3>                
		</div>
                <div class="col-sm-4 text-left">
                    <h3 align="left">谢国珍</h3>                
		</div>
                <div class="col-sm-4 text-left">
                    <h3 align="left">姚燕</h3>                
		</div>

                <div class="col-sm-4 text-left">
                    <h3 align="left">陈昊</h3>                
		</div>
                <div class="col-sm-4 text-left">
                    <h3 align="left">王宁</h3>                
		</div>
                <div class="col-sm-4 text-left">
                    <h3 align="left">袁国泉</h3>                
		</div>

                <div class="col-sm-4 text-left">
                    <h3 align="left">胡海洋</h3>                
		</div>
                <div class="col-sm-4 text-left">
                    <h3 align="left">冉平</h3>                
		</div>
                <div class="col-sm-4 text-left">
                    <h3 align="left">张林</h3>                
		</div>


                <div class="col-sm-4 text-left">
                    <h3 align="left">石兵</h3>                
		</div>
                <div class="col-sm-4 text-left">
                    <h3 align="left">郭卿</h3>                
		</div>
                <div class="col-sm-4 text-left">
                    <h3 align="left">林强</h3>                
		</div>


                <div class="col-sm-4 text-left">
                    <h3 align="left">谢德平</h3>                
		</div>
                <div class="col-sm-4 text-left">
                    <h3 align="left">关连伟</h3>                
		</div>
                <div class="col-sm-4 text-left">
                    <h3 align="left">曹流</h3>                
		</div>


                <div class="col-sm-4 text-left">
                    <h3 align="left">陈秀</h3>                
		</div>
                <div class="col-sm-4 text-left">
                    <h3 align="left">方超</h3>                
		</div>
                <div class="col-sm-4 text-left">
                    <h3 align="left">刘涛</h3>                
		</div>


                <div class="col-sm-4 text-left">
                    <h3 align="left">施文波</h3>                
		</div>
                <div class="col-sm-4 text-left">
                    <h3 align="left">徐刚</h3>                
		</div>
                <div class="col-sm-4 text-left">
                    <h3 align="left">陈小康</h3>                
		</div>

                <div class="col-sm-4 text-left">
                    <h3 align="left">苏萍</h3>                
		</div>
                <div class="col-sm-4 text-left">
                    <h3 align="left">孙辉</h3>                
		</div>
                <div class="col-sm-4 text-left">
                    <h3 align="left">张浩</h3>                
		</div>

                <div class="col-sm-4 text-left">
                    <h3 align="left">王守涛</h3>                
		</div>
                <div class="col-sm-4 text-left">
                    <h3 align="left">葛海龙</h3>                
		</div>
                <div class="col-sm-4 text-left">
                    <h3 align="left">匡大虎</h3>                
		</div>

                <div class="col-sm-4 text-left">
                    <h3 align="left">王珏</h3>                
		</div>
                <div class="col-sm-4 text-left">
                    <h3 align="left">钟敏</h3>                
		</div>
                <div class="col-sm-4 text-left">
                    <h3 align="left">李兴宇</h3>                
		</div>

                <div class="col-sm-4 text-left">
                    <h3 align="left">王远</h3>                
		</div>
                <div class="col-sm-4 text-left">
                    <h3 align="left">殷琴</h3>                
		</div>
                <div class="col-sm-4 text-left">
                    <h3 align="left">罗滨</h3>                
		</div>

                <div class="col-sm-4 text-left">
                    <h3 align="left">陆闻天</h3>                
		</div>
                <div class="col-sm-4 text-left">
                    <h3 align="left">毛晓炜</h3>                
		</div>
                <div class="col-sm-4 text-left">
                    <h3 align="left">潘健</h3>                
		</div>

                <div class="col-sm-4 text-left">
                    <h3 align="left">李叶青</h3>                
		</div>
                <div class="col-sm-4 text-left">
                    <h3 align="left">陈威</h3>                
		</div>
                <div class="col-sm-4 text-left">
                    <h3 align="left">陈智勇</h3>                
		</div>


                <div class="col-sm-4 text-left">
                    <h3 align="left">黄阳</h3>                
		</div>
                <div class="col-sm-4 text-left">
                    <h3 align="left">陆掾</h3>                
		</div>
                <div class="col-sm-4 text-left">
                    <h3 align="left">王姜</h3>                
		</div>


                <div class="col-sm-4 text-left">
                    <h3 align="left">徐俊</h3>                
		</div>
                <div class="col-sm-4 text-left">
                    <h3 align="left">江磊</h3>                
		</div>
                <div class="col-sm-4 text-left">
                    <h3 align="left">任国超</h3>                
		</div>


                <div class="col-sm-4 text-left">
                    <h3 align="left">冯仁君</h3>                
		</div>
                <div class="col-sm-4 text-left">
                    <h3 align="left">张栋栋</h3>                
		</div>
                <div class="col-sm-4 text-left">
                    <h3 align="left">宗波</h3>                
		</div>


                <div class="col-sm-4 text-left">
                    <h3 align="left">余建平</h3>                
		</div>
                <div class="col-sm-4 text-left">
                    <h3 align="left">张璟璟</h3>                
		</div>
                <div class="col-sm-4 text-left">
                    <h3 align="left">辛显龙</h3>                
		</div>


                <div class="col-sm-4 text-left">
                    <h3 align="left"></h3>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

    </div>

	
    
    <!-- /.container -->

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Copyright &copy; 南京大学计算机软件研究所 2014</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery Version 1.11.0 -->
    <script src="js/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
